
.schoolName{
  font-size: 35px;
}

.chart{
  width: 30%;
}

.donut-charts,
.bar-chart-home{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-chart-home{
  align-self: center;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .donut-charts{
    flex-direction: column;
    width: relative;
    padding-top: 50px
  }

  .bar-chart-home{
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
