
.schoolName{
  font-size: 35px;
}

.chart{
  width: 30%;
}

.bar-chart{
  width: 40%;
}


.donut-charts,
.bar-chart{
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}

.bar-chart{
  align-self: center;
  margin: 0 5%;
  padding-bottom: 30px
}
