
.schoolName{
  font-size: 35px;
}

.school-info-container,
.students-container{
  align-items: center;
  width: 500px 25%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 10px;
}

.students-container{
  border: 2px black solid;
  padding: 10px;
  margin: 5% 20%;
}

.student-info{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.chart{
  width: 30%;
}

.bar-chart{
  width: 40%;
}


.donut-charts,
.bar-chart{
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}

.bar-chart{
  align-self: center;
  margin: 0 5%;
  padding-bottom: 30px
}
