.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px
}

.nav-logo{
  height: 50px;
}

.nav-left,
.nav-right{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-name{
  font-weight: bolder;
  margin-left: 10px;
}

.nav-icon{
  padding: 10px;
}
